.background-show-img{
  background-image: url("https://i.postimg.cc/HshC20Kp/unnamed-jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.title-show-orders{
  text-align: center;
  color: white;
  margin-bottom: 5px;
  margin-top: 2em;
  font-family: "Lucida Console", monospace, sans-serif;
}
.card{
  height: 15rem;
  opacity: 80%;
  margin-bottom: 7em;
}
.list-group-item{
  border: none;
  font-weight: bold;
}

