<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="
    return confirm('La commande est prête ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-success w-100"  type="submit">
        Prête!
    </button>
</form>
